body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
  margin: 0;
  color: white;
  text-align: center;
}

div {
  padding: 20px;
}
nav {
  background: rgba(0,0,0,0.7);
  padding: 15px;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}
.container {
  background: rgba(0, 0, 0, 0.3);
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
  width: 60%;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
h1, h2 {
  letter-spacing: 1px;
}
.container:hover {
  transform: scale(1.02);
  transition: 0.3s;
}